<h1>RESTAURANTS</h1>
<section>
    {{#each restaurants}}
    <a href="/restaurants/{{this.id}}">
        <article>
            <div>
                <header class="mainimage" style="background-image: url({{this.image}});"></header>
                <main>{{this.name}}</main>
                <footer>{{this.menus.length}} menus</footer>
                <!-- <a style="float: left;" href="./restaurants/{{this.id}}/delete"><button>Delete</button></a> -->
            </div>
        </article>
    </a>
    {{/each}}
</section>

<!-- <a href="./restaurants/{{this.id}}/delete" button class="c-btn c-btn--danger c-btn--small">Delete<i class="c-icon c-icon--trash c-icon--after"></i></button> -->
<!-- <a href="./restaurants/{{this.id}}/delete" button class="c-btn c-btn--danger c-btn--small">Delete<i class="c-icon c-icon--trash c-icon--after"></i></button> -->
<!-- <a style="float: left;" href="./restaurants/{{this.id}}/delete"><button>Delete</button></a> -->